<!DOCTYPE html>
<html>
  <head>
    <title>ProgramingTraining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        PPro
      </a>
    </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Log out</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="columns">
      <div class="column is-one-fifth">
        <aside class="menu">
          <p class="menu-label">General</p>
          <ul class="menu-list">
            <li><%= link_to "DashBoard", admin_dashboard_path %></li>
          </ul>
          <p class="menu-label">Administration</p>
          <ul class="menu-list">
            <li><%= link_to "管理者", admin_users_path %></li>
            <li>
              <a class="is-active">Manage Your Data</a>
              <ul>
                <li><a>ユーザー</a></li>
                <li><a>ブログ</a></li>
                <li><a></a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Programing Training</strong> by miyaoka</a>.
        </p>
      </div>
    </footer>


  </body>
</html>
