<!DOCTYPE html>
<html>
  <head>
    <title>ProgramingTraining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Programing Training</strong> by miyaoka</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
